@keyframes loading-blur {
  0% {
    opacity: 0.08;
    filter: blur(5px);
    letter-spacing: 3px;
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.movie-loading {
  padding: 40px 0;

  .movie-loading__text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    animation: loading-blur 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px white;
    font-size: font-size(loading-m);

    @media ($desktop) {
      font-size: font-size(loading-d);
    }
  }
}
